body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

header {
    background-color: #4DA8DA;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

h1{
  font-weight: 900;
}

main {
    padding: 20px;
}

#button-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 6rem;
}
.botao{
  font-weight: 700;
  padding: 1rem;
  border: solid 2px black;
  width: 30%;
  background-color: lightgray;
  border-radius: 1rem;
  box-shadow: 0 4px 8px dimgray, 
              0 6px 20px dimgray; /* Sombra suave em toda a volta */
}

.botao-incluir{
  width: 40%;
  background-color: #FF7F50;
}

.um{
  background-color: #4DA8DA; /* Azul */
}

.dois{
  background-color: #58A55C; /* Verde */
}

.tres{
  background-color: #FFDD57; /* Amarelo */
}

.quatro{
  background-color: #FF7F50; /* Coral */
}

.cinco{
  background-color: #FF4F5A; /* Vermelho */
}

footer {
    background-color: #58A55C;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
}

.limpar {
  background-color: #FFDD57;
/*   position: fixed;
  bottom: 1rem;
  right: 1rem; */
  color: #FF4F5A;
  font-size: 2rem;
  padding: 0.5rem;
  font-weight: bold;
  font-style: italic;
  border-radius: 3rem;
  width: 3rem;
  height: 3rem;
}

@media (min-width: 760px) {
  .botao{
    width: 23%;
  }
}

@media (min-width: 1100px) {
  .botao{
    width: 18%;
  }
}

@media (min-width: 1400px) {
  .botao{
    width: 15%;
  }
}